<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="card-order-modal-label">Change Card Order</h4>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                {% for card in cards %}
                <li class="list-group-item">
                    <div class="row">
                    <div class="col-xs-4 shift-btn-wrapper smcard">
                        <div class="text-center">
                            <button class="btn btn-primary disabled">
                                <i class="fa fa-arrows-v"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-8 moveable-card-wrapper">
                        <iframe class="smallcard-template nolink" src="{{ uri_for('card.preview') }}?card={{ card.key.urlsafe() }}" scrolling="no" data-card-id="{{ card.key.urlsafe() }}" data-template="text"></iframe>
                    </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning order-random">Randomize</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary order-submit" data-success-wait="1000" data-loading-text="Saving...">Save</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script src="/static/js/cards/card_order_modal.js"></script>
